---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import GithubIcon from '../components/icons/GithubIcon.astro';
import LinkedlnIcon from '../components/icons/LinkedlnIcon.astro';
import SocialPill from '../components/SocialPill.astro';
import MailIcon from '../components/icons/MailIcon.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import ExperienceIcon from '../components/icons/ExperienceIcon.astro';
import ProjectsIcon from '../components/icons/ProjectsIcon.astro';
import Projects from '../components/Projects.astro';
---

<Layout
  title="Porfolio MauricioGutierrez - Full Stack web developer "
  description="Hire me to create your web, mobile or cross-platform application. Web developer. Specialized in creating unique applications."
>
	<main class="px-4">
		<SectionContainer>
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10 items-center">
				<img class="rounded-full size-16" src="https://avatars.githubusercontent.com/u/142355026?s=400&u=f50257356cdfcc74fbfd8a05f1b5fa429f5499e3&v=4" alt="ProfilePic" />
				Hey! I'm Mauricio Gutierrez <a href="https://www.linkedin.com/in/arlexmauriciogutierreztrejos/" target="_blank" rel="noopener" class="flex items-center transition md:justify-center md:hover:scale-105"><Badge>Avaliable to Work</Badge></a>
			</h1>
			
			<h2 class="text-xl lh:text-2xl text-wrap max-w-[700px] text-justify">
				<span>Full Stack Developer +3 years of experience, with a background in economy from</span>
				<span class="text-transparent bg-clip-text bg-gradient-to-br from-yellow-500 via-blue-300 to-red-500 font-bold">Cali, Colombia</span>
				<span class="opacity-75">,I am committed to excellence in software development, creating innovative solutions that fuse technical knowledge and problem solving.</span>
			  </h2>
			  
		<nav class="flex gap-3 mt-4 flex-wrap">
			<SocialPill href="https://www.linkedin.com/in/arlexmauriciogutierreztrejos/">
				<LinkedlnIcon class="size-8 lg:size-6"/>
				Linkedin
			</SocialPill>
			<SocialPill href="https://github.com/AMGutierrezTrejos">
				<GithubIcon class="size-8 lg:size-6"/>
				Github
			</SocialPill>
			<SocialPill href="mailto:m.gutierrez7@hotmail.com">
				<MailIcon class="size-8 lg:size-6"/>
				Mail
			</SocialPill>
		</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="mt-20 text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<ExperienceIcon class="size-8"/>
				Experience</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="mt-20 text-2xl font-semibold mb-6 flex gap-x-3 items-center">
				<ProjectsIcon class="size-8"/>
				Completed projects</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>