---
import ExperienceItem from './ExperienceItem.astro';
const EXPERIENCIE = [
{
    date: "at the moment",
    title: "E-commerce Platform APP (React Native)",
    company: "Personal Project",
    imgExp: "https://cdn-icons-png.flaticon.com/512/2867/2867369.png",
    description:
    "An e-commerce mobile application enabling users to browse a vast array of products, create wishlists and shopping carts for future reference, and manage personal profiles including address details, among other features. On the administrative side, the application provides tools for inventory management, adding and removing products, handling orders, user management, and running advertisements such as promotions and advertising campaigns, among other administrative functions.",
// link: "Aqui va un link si es necesario",
  },
{
    date: "May 2024 - May 2024",
    title: "Social Network Web",
    company: "Personal Project",
    imgExp: "https://cdn-icons-png.flaticon.com/512/2867/2867369.png",
    description:
    "a social network that, on the user's side, can create a secure account, update it whenever they want and also freeze it. The website allows you to create a post, like a post, repost a post, comment and delete. Finally, be able to chat with other users, know when they are online.",
// link: "Aqui va un link si es necesario",
  },
  {
    date: "at the moment",
    title: "Claudia Huertas Psychologist",
    company: "ipproyectosysoluciones",
    imgExp: "https://avatars.githubusercontent.com/u/32624310?v=4",
    description:
      "This project offers a complete management platform for administrators, including the creation and distribution of help posts, user and appointment management, and an integrated payment portal. Users can easily request appointments, access support resources, and participate in the community by rating posts and leaving comments.",
    // link: "Aqui va un link si es necesario",
  },
  {
    date: "February 2024 - February 2024",
    title: "WeDevelop - E-commerce Platform",
    company: "Soy Henry",
    imgExp: "https://assets.soyhenry.com/logoOG.png",
    description:
      "WeDevelop is an application designed to help clients and businesses establish their online presence effectively. Our personalized approach simplifies the process of purchasing a website through a simple questionnaire and a variety of plans tailored to each user's specific digital needs.",
    // link: "Aqui va un link si es necesario",
  },
  {
    date: "January 2024 - January 2024",
    title: "Drivers - Entertainment",
    company: "Soy Henry",
    imgExp: "https://assets.soyhenry.com/logoOG.png",
    description:
    "Focused on creating engaging and functional interfaces for seamless driver management. We implement controlled forms and dynamic pagination with advanced filtering and sorting features. Additionally, we establish a robust CRUD server for seamless integration between external API queries and operations Database."    // link: "Aqui va un link si es necesario",
  },
]
---

<ol class="relative mt-16">
    {
      EXPERIENCIE.map((experiencie) => (
        <li class="">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>