---
const currentYear = new Date().getFullYear()
---

<footer
  class="opacity-80 m-4 mt-16 w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
  >
  <div class="flex items-center space-x-2 text-sm text-white dark:text-zinc-200/90">
    <img class="rounded-full h-10 w-10" src="https://www.nationalflags.shop/WebRoot/vilkasfi01/Shops/2014080403/53E6/2F51/368F/C747/3315/0A28/100B/041A/Flag_of_Colombia_ml.png" alt="logo" />
    <span>
      {currentYear}
      <a href="https://www.linkedin.com/in/arlexmauriciogutierreztrejos/" target="_blank" class="hover:underline">MauricioGutierrez</a>.
    </span>
  </div>
  
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-white/90 sm:mt-0"
    >
    <li>
        <a href="/#" class="hover:underline me-4 md:me-6">Home</a>
      </li>
      <li>
        <a href="/#experience" class="hover:underline me-4 md:me-6">Experience</a>
      </li>
      <li>
        <a href="/#projects" class="hover:underline me-4 md:me-6">Projects</a>
      </li>
      <li>
        <a href="/#about-me" class="hover:underline me-4 md:me-6">About me</a>
      </li>
      <li>
        <a id="/#contact" href="mailto:m.gutierrez7@hotmail.com" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>